@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
:root{
   --black: #0e0f0e;
   --white: #f7f7f7;
   --background: #fbf9f6;
   --MenuLink: #4a4b4b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Space Mono', monospace;
    background-color: var(--background);
    height: 100vh;
}
.navbar{
    display: flex;
    padding: 20px 0 10px 0;
    justify-content: space-around;
    height: 10vh;
}
ul{
    display: flex;
    flex-direction: row;
    margin: 0;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: var(--fontColor);
    font-weight: bold;
    font-size: 18px;
}
.nav-link{
    margin: 0;
    padding: 0 15px;
}
/* .nav-link:hover{
    color: var(--MenuLink);
} */
.logo img{
    height: 50px;
    object-fit: cover;
}
/* Search Div */
.search{
    display: flex;
    flex-direction: row;
}
input.input-search{
    display: block;
    width: auto;
    margin: 0 0 0 10px;
    border: none;
    border-radius: 15px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
}
.input-search:focus{
    border-color: var(--pikachu);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 3px rgba(255,144,0,0.6);
    outline: 0 none;
}
button.btn-search{
    border: none;
    color: var(--white);
    background-color: var(--fontColor);
    border-radius: 15px;
    font-size: 14px;
    width: 90px;
}
.form-select{
    border-radius: 15px;
}

.active{
    color: #0a1320;
}
/* index */
.book{
    cursor: pointer;
    display: block;
    width: 170px;
    height: 240px;
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1), 0 9px 20px 0 rgba(0, 0, 0, .25);
    overflow: hidden;
    transition: box-shadow .3s linear;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.book img {
    width: inherit;
    height: inherit;
    transform-origin: 0 50%;
    transform: rotateY(0);
    transition: all .45s ease;
}
.heroes{
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
    flex-direction: row;
}
.row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.booksDiv, .authorDiv{
    width: 320px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    background-color: #fefffe;
    border-radius: 10px;
}
.card-title{
    margin: 10px 0 8px 0;
}
.text_hero{
    max-width: 700px;
}
.logoh1{
    font-weight: bold;
    font-size: 50px;
}
ul{
    padding: 0;
}
.bookCard{
    width: 180px;
    height: 260px;
    margin: 20px auto;
}
.form-details{
    cursor: pointer;
}
.notcreated{
    display: flex;
    justify-content: center;
}
/* book */
.hero{
    padding: 20px 0;
}
.card{
    padding: 0;
}
.btn-add{
    border-radius: 20px;
    background-color: var(--black);
    color: white;
    height: 40px;
    margin: 10px 0 0 0;
}
.btn-add:hover{
    color: white
}
.formCreate{
    margin: 25px auto;
    width: 600px;
}
.card-header{
    background-color: #0a1221;
    width: 100%;
}
.card-body{
    padding: 1.5rem;
}
.btn-warning, .btn-danger, .btn-primary{
    margin: 0 10px 10px 0;
}
/* Author */
.ContainerAuthor{
    display: flex;
    flex-direction: row;
    height: auto;
}
.authorDiv{

}
/* 404 not found */
div.notfound{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.notfound img{
    height: 500px;
    width: 500px;
}
